# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.BlazerDemo.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\snake\RiderProjects\BlazerDemo\.idea\.idea.BlazerDemo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
